PySide6>=6.7.0
pynput>=1.7.7
Pillow>=10.0.0
pyinstaller>=6.0.0
pyobjc-core>=10.3; sys_platform == "darwin"
pyobjc-framework-Cocoa>=10.3; sys_platform == "darwin"
pyobjc-framework-ApplicationServices>=10.3; sys_platform == "darwin"
